<div class="container">

  <!-- Area de botones de acción -->
  <div class="buttons-area row">

    <!-- Crear nuevo pago -->
    <button
      class="btns"
      mat-stroked-button
      color="primary"
      (click)="nuevoPagoDialog()"
      >
      <mat-icon>add</mat-icon>
      &nbsp;Nuevo pago
    </button>

    <!-- Simular -->
    <button
      class="btns"
      mat-raised-button
      color="primary"
      matTooltip="Enviar al SAP las facturas seleccionadas para calcular los impuestos a pagar"
      [disabled]="!selection.hasValue()"
      (click)="simular()"
      >
      Simular
    </button>

    <!-- Pagar -->
    <button
      class="btns"
      mat-raised-button
      [disabled]="estadoPago !== 'S'"
      (click)="pagar()"
      >
      Pagar
    </button>
  </div>

  <!-- Tabla de facturas (partidas) a pagar -->
  <mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    matSort
    class="table"
    >

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          matTooltip="Seleccionar la factura para pagar"
          >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    // Expand icon
    <ng-container matColumnDef="expandIcon">
      <mat-header-cell *matHeaderCellDef> <mat-icon>expand_more</mat-icon> </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        matTooltip="Ver detalle de la factura"
        matTooltipPosition="above"
        >
        <mat-icon>expand_more</mat-icon>
      </mat-cell>
    </ng-container>

    // columna Proveedor Desc
    <ng-container matColumnDef="proveedorDesc">
      <mat-header-cell class="cell-fecha" *matHeaderCellDef> Proveedor </mat-header-cell>
      <mat-cell class="cell-fecha" *matCellDef="let element"> {{element.proveedorDesc}} </mat-cell>
    </ng-container>

    // columna Fecha de vencimeinto
    <ng-container matColumnDef="vtoFecha">
      <mat-header-cell class="cell-country" *matHeaderCellDef mat-sort-header> Vencimiento </mat-header-cell>
      <mat-cell class="cell-country" *matCellDef="let element"> {{element.vtoFecha}} </mat-cell>
    </ng-container>

    // columna Nro. de documento AFIP
    <ng-container matColumnDef="docNro">
      <mat-header-cell class="cell-duration" *matHeaderCellDef> Nro.Doc. </mat-header-cell>
      <mat-cell class="cell-duration" *matCellDef="let element"> {{element.docNro}} </mat-cell>
    </ng-container>

    // columna Moneda
    <ng-container matColumnDef="docMoneda">
      <mat-header-cell class="cell-currency" *matHeaderCellDef mat-sort-header> Mon </mat-header-cell>
      <mat-cell class="cell-currency" *matCellDef="let element"> {{element.docMoneda}} </mat-cell>
    </ng-container>

    // columna Importe
    <ng-container matColumnDef="docImporte">
      <mat-header-cell class="cell-taxableAmount" *matHeaderCellDef mat-sort-header> Importe </mat-header-cell>
      <mat-cell class="cell-taxableAmount" *matCellDef="let element"> {{element.docImporte | number:'1.2-2'}} </mat-cell>
    </ng-container>

    <!-- Detalle de la factura (expanded row) -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div
          class="factura-detalle-canvas"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
          >
          <table cellspacing="1">
            <tr>
              <td><mat-form-field class="">
                <mat-label>Nro.</mat-label>
                <input matInput value={{element.docNro}}>
              </mat-form-field></td>
              <td><mat-form-field class="">
                <mat-label>Fecha</mat-label>
                <input matInput value={{element.docFecha}}>
              </mat-form-field></td>
              <td><mat-form-field class="">
                <mat-label>Cond.Pago</mat-label>
                <input matInput value={{element.condPago}}>
              </mat-form-field></td>
            </tr>
          </table>

        </div>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row
      *matRowDef="let element; columns: columnsToDisplay;"
      class="factura"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
      >
    </mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="factura-detalle"></mat-row>

  </mat-table>

</div>
