/* *******************
   LAYOUT
 */
.container {
  width: 100%;
  /* max-width: 1280px; */
  padding: 1em 1em;

  &-center {
    margin: 0 auto;
  }
}

.row {
  display: flex;
  flex-direction: row;

  &--wrap {
    flex-wrap: wrap;
  }

  &--hcenter {
    justify-content: center;
  }

  &--vcenter {
    align-items: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.col-mobile {
  width: 360px;
}

.menu-secundario {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.panel {

  &-titulo {
    align-items: center;
  }

  &-badge-noResuelto {
    color: red;
    margin-left: 1em;
    margin-top: 0.75em;
  }

  &-badge-resuelto {
    color: green;
    margin-left: 1em;
    margin-top: 0.75em;
  }

  &-badge-info {
    color: yellow;
    margin-left: 1em;
    margin-top: 0.75em;
  }

  &-cantidad {
    background-color: aliceblue;
    padding: 0.25em;
    color: rgb(50, 50, 119);
    margin-right: 0.5em;
  }
}

.error-log {
  padding: 0.25em 1em;
  border: 1px solid rgb(224, 214, 214);
  margin-bottom: 3px;
  background-color: rgb(250, 245, 245);

  &-fecha {
    display: block;
    color: black;
    margin-right: 1em;
    align-self: center;
  }

  &-chip {
    display: inline-block;
    margin-right: 1em;
  }

  &-text {
    color: #222;
    flex-grow: 1;
    align-self: center;
  }

  &-noResuelto {
    background-color: red;
    color: white;
  }

  &-resuelto {
    background-color: green;
    color: white;
  }

  &-info {
    background-color: yellow;
    color: black;
  }
}

.spinner {
  top: 3em;
  left: 3em;
}

@media (min-width: 900px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .error-log-text {
    flex-basis: 100%;
  }
}

/* *******************
   TYPOGRAPHY
 */
.titulo {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  align-self: center;
}

.loading {
  padding-bottom: 1.25em;
  margin-left: 2em;
  font-style: italic;
  font-size: 0.8rem;
  color: #444;
}

/*
  SPINNER
*/
.spinner {
  display: block;
  position: relative;

  &-loader {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    /* text-indent: -9999em; */
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }

  &-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #222;
    font-style: italic;
    font-size: 0.8rem;
  }
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
