/**
 * TYPOGRAPHY
 */

 /**
 * LAYOUT
 */
 h2 {
  text-align: center;
}

.procesos-batchs {
  margin: 0 auto 2em;
  margin-top: 2em;
  width: 90vw;
}

.procesos-batchs--height {
  height: 510px;
  /* max-width: 1204px; */
  margin: 0 auto;
}
