/* *******************
   LAYOUT
 */
.container {
  width: 100%;
  /* max-width: 1280px; */
  padding: 1em 1em;

  &-center {
    margin: 0 auto;
  }
}

.row {
  display: flex;
  flex-direction: row;

  &--wrap {
    flex-wrap: wrap;
  }

  &--hcenter {
    justify-content: center;
  }

  &--vcenter {
    align-items: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.col-mobile {
  width: 360px;
}

.menu-secundario {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.panel {

  &-titulo {
    align-items: center;
  }

  &-badge-noResuelto {
    color: red;
    margin-left: 1em;
    margin-top: 1em;
  }

  &-badge-resuelto {
    color: green;
    margin-left: 1em;
    margin-top: 1em;
  }

  &-badge-info {
    color: yellow;
    margin-left: 1em;
    margin-top: 1em;
  }

  &-cantidad {
    background-color: aliceblue;
    padding: 0.25em;
    color: rgb(50, 50, 119);
    margin-right: 0.5em;
  }
}

.error-log {
  padding: 0.25em 1em;
  border: 1px solid rgb(224, 214, 214);
  margin-bottom: 3px;
  background-color: rgb(250, 245, 245);

  &-fecha {
    display: block;
    color: black;
    margin-right: 1em;
    align-self: center;
  }

  &-chip {
    display: inline-block;
    margin-right: 1em;
  }

  &-text {
    color: #222;
    flex-grow: 1;
    align-self: center;
  }

  &-noResuelto {
    background-color: red;
    color: white;
  }

  &-resuelto {
    background-color: green;
    color: white;
  }

  &-info {
    background-color: yellow;
    color: black;
  }
}

@media (min-width: 900px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .error-log-text {
    flex-basis: 100%;
  }
}

/* *******************
   TYPOGRAPHY
 */
.titulo {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  align-self: center;
}
