<div class="container">

  <!-- Titulos y menu secundario -->
  <div class="row row-vcenter">
    <div class="titulo">ERROR LOGS</div>
    <div class="menu-secundario">
      <!-- Icono Menu (3 puntos verticales) -->
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu secundario">
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- Menu -->
      <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="getErrorLogs()">
          <mat-icon>refresh</mat-icon>
          <span>Re-Cargar</span>
        </button>
        <button mat-menu-item (click)="downloadToExcel()">
          <mat-icon svgIcon="excel"></mat-icon>
          <span>Descargar a Excel</span>
        </button>
        <button mat-menu-item (click)="checkErrors()" matTooltip="Validar que los errores se hayan solucionado">
          <mat-icon svgIcon="warning"></mat-icon>
          <span>Chequear Errores</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <!-- ERROR LOGS -->
  <ng-container *ngIf="errorSections && errorSections.length > 0 else noErrorLogs">

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel hideToggle *ngFor="let errorSection of errorSections">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-titulo">
            <span class="panel-cantidad">{{errorSection.cantidad}}</span>
            {{errorSection.name}}
            <!-- No resueltos -->
            <mat-icon
              *ngIf="errorSection.noResuelto !== 0"
              class="panel-badge-noResuelto"
              matTooltip="errores NO resueltos"
              svgIcon="cross_circle" matBadge="{{errorSection.noResuelto}}"
              matBadgeColor="warn">
            </mat-icon>
            <!-- Resueltos -->
            <mat-icon
              *ngIf="errorSection.resuelto !== 0"
              class="panel-badge-resuelto"
              matTooltip="errores resueltos"
              svgIcon="done_circle"
              matBadge="{{errorSection.resuelto}}"
              matBadgeColor="warn">
            </mat-icon>
            <!-- Solo Info -->
            <mat-icon
              *ngIf="errorSection.soloInfo !== 0"
              class="panel-badge-info"
              matTooltip="solo Información"
              svgIcon="info_circle"
              matBadge="{{errorSection.soloInfo}}"
              matBadgeColor="warn">
            </mat-icon>
          </mat-panel-title>
          <mat-icon class="panel-icon">date_range</mat-icon>
        </mat-expansion-panel-header>

        <ng-container *ngFor="let errorLog of errorLogs">
          <ng-container *ngIf="errorLog.errorType === errorSection.name">
            <div class="error-log">
              <div class="row row--wrap">
                <div class="error-log-fecha">{{formatDate(errorLog.timestamp)}}</div>
                <mat-chip-list class="error-log-chip">
                  <ng-template [ngIf]="errorLog.errorSolved === 0"><mat-chip class="error-log-noResuelto">no resuelto</mat-chip></ng-template>
                  <ng-template [ngIf]="errorLog.errorSolved === 1"><mat-chip class="error-log-resuelto">resuelto</mat-chip></ng-template>
                  <ng-template [ngIf]="errorLog.errorSolved === 2"><mat-chip class="error-log-info">solo info</mat-chip></ng-template>
                </mat-chip-list>
                <div class="error-log-text"><strong>{{errorSection.name}}</strong>: {{errorLog.message}}</div>
              </div>
            </div>
          </ng-container>
        </ng-container>

      </mat-expansion-panel>
    </mat-accordion>

  </ng-container>

  <ng-template #noErrorLogs>
    <h3>No hay errores que mostrar</h3>
  </ng-template>

</div>
