<div class="container container--center row row--wrap">
  <!-- Dimensiones a incluir -->
  <div class="col col--mobile" [formGroup]="gaDimensions">
    <h3 class="sec-title">Dimensiones a incluir</h3>
    <mat-checkbox formControlName="userId">User Id <span class="ga-def">(ga:dimension1)</span></mat-checkbox>
    <mat-checkbox formControlName="transactionId">Transaction Id <span class="ga-def">(ga:transactionId)</span></mat-checkbox>
    <mat-checkbox formControlName="paisId">Pais <span class="ga-def">(ga:dimension5)</span></mat-checkbox>
    <mat-checkbox formControlName="medioPago">Medio de pago <span class="ga-def">(ga:dimension8)</span></mat-checkbox>
    <mat-checkbox formControlName="dateTime">Fecha y Hora <span class="ga-def">(ga:dateHourMinute)</span></mat-checkbox>
    <mat-checkbox formControlName="channelGrouping">Canal <span class="ga-def">(ga:channelGrouping)</span></mat-checkbox>
    <mat-checkbox formControlName="source">Fuente <span class="ga-def">(ga:source)</span></mat-checkbox>
    <mat-checkbox formControlName="medium">Medio <span class="ga-def">(ga:medium)</span></mat-checkbox>
    <mat-checkbox formControlName="campaign">Campaña <span class="ga-def">(ga:campaign)</span></mat-checkbox>
    <mat-checkbox formControlName="adContent">Contenido <span class="ga-def">(ga:adContent)</span></mat-checkbox>
    <mat-checkbox formControlName="socialNetwork">Red Social <span class="ga-def">(ga:socialNetwork)</span></mat-checkbox>
    <!-- Custom Dimensions -->
    <mat-form-field class="maximize" appearance="fill">
      <mat-label>Dimensiones específicas</mat-label>
      <textarea
        class="textarea"
        matInput
        matTooltip="Ingresar valores del tipo ga:<dimensión>, separadas por comas. Ej.: ga:sessionCount,ga:source,ga:...etc"
        placeholder="Dimensiones"
        formControlName="customDimensions"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="2">
      </textarea>
    </mat-form-field>
  </div>

  <!-- Metricas a incluir -->
  <div class="col col--mobile" [formGroup]="gaMetrics">
    <h3 class="sec-title">Métricas a incluir</h3>
    <mat-checkbox formControlName="users">Total usuarios <span class="ga-def">(ga:users)</span></mat-checkbox>
    <mat-checkbox formControlName="newUsers">Usuarios nuevos <span class="ga-def">(ga:newUsers)</span></mat-checkbox>
    <mat-checkbox formControlName="organicSearches">Búsquedas orgánicas <span class="ga-def">(ga:organicSearches)</span></mat-checkbox>
    <mat-checkbox formControlName="itemRevenue">Item revenue <span class="ga-def">(ga:itemRevenue)</span></mat-checkbox>
    <mat-checkbox formControlName="localRefundAmount">Local Refund Amount <span class="ga-def">(ga:localRefundAmount)</span></mat-checkbox>
    <!-- Custom Metrics -->
    <mat-form-field class="maximize" appearance="fill">
      <mat-label>Métricas específicas</mat-label>
      <textarea
        class="textarea"
        matInput
        matTooltip="Ingresar valores del tipo ga:<métrica>, separadas por comas. Ej.: ga:users,ga:sessions,ga:...etc"
        placeholder="Métricas"
        formControlName="customMetrics"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="2">
      </textarea>
    </mat-form-field>
  </div>

  <!-- Filtros -->
  <div class="col col--mobile" [formGroup]="gaFiltros">
    <h3 class="sec-title">Filtros</h3>

    <!-- Fecha Desde -->
    <mat-form-field
      class="maximize"
      appearance="fill">
      <mat-label>Fecha desde</mat-label>
      <input
        required
        matInput
        [matDatepicker]="fechaDesde"
        formControlName="fechaDesde">
      <mat-datepicker-toggle matSuffix [for]="fechaDesde"></mat-datepicker-toggle>
      <mat-datepicker #fechaDesde></mat-datepicker>
      <mat-error>Fecha inválida</mat-error>
    </mat-form-field>

    <!-- Fecha Hasta -->
    <mat-form-field
      class="maximize"
      appearance="fill">
      <mat-label>Fecha hasta</mat-label>
      <input
        required
        matInput
        [matDatepicker]="fechaHasta"
        formControlName="fechaHasta">
      <mat-datepicker-toggle matSuffix [for]="fechaHasta"></mat-datepicker-toggle>
      <mat-datepicker #fechaHasta></mat-datepicker>
      <mat-error>Fecha inválida</mat-error>
    </mat-form-field>

    <!-- Filtros -->
    <mat-form-field class="maximize" appearance="fill">
      <mat-label>Filtros específicos</mat-label>
      <textarea
        class="textarea"
        matInput
        matTooltip="Ej.: ga:dimension5==AR (país ARgentina)"
        placeholder="Filtros a aplicar"
        formControlName="filters"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="2">
      </textarea>
      <button
        mat-icon-button
        matSuffix
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        (click)="ayudaFiltros = ayudaFiltros ? false : true">
        <mat-icon>help_outlined</mat-icon>
      </button>
    </mat-form-field>
    <!-- Botón de ayuda para los filtros -->
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="ayudaFiltros"
      >
      <div class="ayudaFiltros">
        Para más ayuda ir a este link<br>
        <a href="https://developers.google.com/analytics/devguides/reporting/core/v3/reference#filters"
          target="blank">Google Analytics Filters</a>
      </div>
    </ng-template>
  </div>

  <!-- Botones -->
  <div class="buttons-area">

    <!-- Button: Obtener reporte-->
    <div class="btns btn-submit">

      <!-- boton -->
      <button
        class="inline-buttons"
        (click)="getFromGA()"
        mat-stretch
        [disabled]="isFetching || gaFiltros.invalid"
        mat-raised-button
        color="primary"
        title="Obtener reporte"
        color=primary>
         Reporte GA&nbsp;
        <mat-icon svgIcon="save"></mat-icon>
      </button>

      <!-- Progress bar for button -->
      <!-- <mat-progress-bar
        [color]="color"
        mode="determinate"
        [value]="holdableButtonMs">
      </mat-progress-bar> -->

      <!-- Spinner -->
      <div class="spinner" *ngIf="isFetching">
        <img src="/assets/images/spinner01.svg" style="z-index: 50;" />
      </div>
    </div>

    <!-- Exportar Excel -->
    <div class="btns btn-download">
      <button
        [disabled]="dataToExcel.length <= 0"
        mat-raised-button
        title="Exportar a Excel"
        (click)="exportExcel()">
        A Excel &nbsp;
        <mat-icon svgIcon="excel" style="color: black;"></mat-icon>
      </button>
    </div>
  </div>
</div>
