/* ************************
*  Layout
*********************** */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.inner-container {
  width: 300px;
}

.divider {
  height: 2rem;
  width: 0;
}

@media (min-width: 600px) {

  .container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .divider {
    height: 0;
    width: 2rem;
  }

}
