<div class="container">

  <!-- Area de botones de acción -->
  <div class="buttons-area row">

    <!-- Crear nuevo pago -->
    <button
      class="btns"
      mat-stroked-button
      color="primary"
      (click)="nuevoLocalPrice()"
      >
      <mat-icon>add</mat-icon>
      &nbsp;Nuevo pago
    </button>
  </div>

  <!-- Tabla de facturas (partidas) a pagar -->
  <mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    matSort
    class="table"
    >

    <!-- columna FECHA -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha | date:'fullDate'}} </mat-cell>
    </ng-container>

    <!-- columna COUNTRY -->
    <ng-container matColumnDef="country" mat-sort-header>
      <mat-header-cell *matHeaderCellDef> País </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
    </ng-container>

    <!-- columna DURATION -->
    <ng-container matColumnDef="duration" mat-sort-header>
      <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
    </ng-container>

    <!-- columna CURRENCY -->
    <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef> Moneda </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.currency}} </mat-cell>
    </ng-container>

    <!-- columna TAXABLEAMOUNT -->
    <ng-container matColumnDef="taxableAmount">
      <mat-header-cell *matHeaderCellDef> Importe </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.taxableAmount | number:'1.2-2'}} </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <app-local-prices-crud></app-local-prices-crud>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        matTooltip="Hacer un click para editar el registro"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </mat-row>
    <mat-row mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
  </mat-table>
</div>
