<div class="container">
  <div class="row row--wrap" [formGroup]="localPriceRecord">

    <!-- Fecha -->
    <!-- <mat-form-field
      class="maximize"
      appearance="fill">
      <mat-label>Fecha</mat-label>
      <input
        required
        matInput
        matTootltip="Fecha inicio de vigencia del precio"
        [matDatepicker]="fecha"
        formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
      <mat-datepicker #mesAnio></mat-datepicker>
    </mat-form-field> -->
  </div>
</div>
