/* *******************
   LAYOUT
 */
.container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;

  &--wrap {
    flex-wrap: wrap;
  }

  &--hcenter {
    justify-content: center;
  }

  &--vcenter {
    align-items: center;
  }
}

.maximize {
  width: 100%;
}

.buttons-area {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 100%;
}

.btns {
  //width: 140px;
  margin-right: 1em;
}

.nuevo-pago {
  padding: 0.75em;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: rgba(170,170,170);
}

/* *******************
   TYPOGRAPHY
 */

