<!-- Nuevo Pago (formulario) -->
<div class="container">
<h3 mat-dialog-title>Generar Nuevo Pago</h3>

<mat-dialog-content  [formGroup]="nuevoPagoForm">

  <!-- Compañías -->
  <mat-form-field
    class="maximize"
    appearance="fill"
    >
    <mat-label>Empresa</mat-label>
    <mat-select
      formControlName="empresaId"
      required>
      <mat-option
        *ngFor="let company of empresaOptions"
        [value]="company.id">
        {{ company.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Fecha de Pago -->
  <mat-form-field
    class="maximize"
    appearance="fill"
    >
    <mat-label>Fecha de pago</mat-label>
    <input
      required
      matInput
      [matDatepicker]="fechaDePago"
      formControlName="fechaPago"
    />
    <mat-datepicker-toggle matSuffix [for]="fechaDePago"></mat-datepicker-toggle>
    <mat-datepicker #fechaDePago></mat-datepicker>
    <mat-error>Fecha inválida</mat-error>
  </mat-form-field>

  <!-- Vias de pago -->
  <mat-form-field
    class="maximize"
    appearance="fill"
    >
    <mat-label>Vía de pago</mat-label>
    <mat-select
      formControlName="viaPago"
      required>
      <mat-option
        *ngFor="let via of viasPagoOptions"
        [value]="via.id">
        {{ via.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <!-- Area Botones-->
  <div class="buttons-area row">
    <!-- Buscar cbtes. -->
    <button class="btns" mat-raised-button color="primary" (click)="onSaveDialog()">Buscar Cbtes.</button>
    <!-- Cancel -->
    <button class="btns" mat-raised-button (click)="onCloseDialog()">Cancelar</button>
  </div>
</mat-dialog-actions>
</div>
