<!-- Cada componente se maneja via TABS MODULE -->
<mat-tab-group
  mat-stretch-tabs
  backgroundColor="primary"
  fxFlexFill>

  <!-- Errors Log -->
  <mat-tab *ngIf="ynErrorsLog">
    <ng-template mat-tab-label>
      <mat-icon>error_outline</mat-icon>
      &nbsp;Errors Log
    </ng-template>
    <app-errors-log></app-errors-log>
  </mat-tab>

  <!-- Mkt Expenditures -->
  <mat-tab *ngIf="ynMktExpenditures">
    <ng-template mat-tab-label>
      <mat-icon>add_business</mat-icon>
      &nbsp;Marketing Expenditures
    </ng-template>
    <app-mkt-expenditures></app-mkt-expenditures>
  </mat-tab>

  <!-- Procesos batchs -->
  <mat-tab *ngIf="ynProcesosBatchs">
    <ng-template mat-tab-label>
      <mat-icon>batch_prediction</mat-icon>
      &nbsp;Procesos Batchs
    </ng-template>
    <app-procesos-batchs></app-procesos-batchs>
  </mat-tab>

  <!-- Events Schedule -->
  <mat-tab *ngIf="ynSchedule">
    <ng-template mat-tab-label>
      <mat-icon>schedule</mat-icon>
      &nbsp;Schedule
    </ng-template>
    <app-schedule></app-schedule>
  </mat-tab>

  <!-- Missing Records -->
  <mat-tab *ngIf="ynMissingRecords">
    <ng-template mat-tab-label>
      <mat-icon svgIcon="lost_items"></mat-icon>
      &nbsp;Missing Records
    </ng-template>
    <app-missing-records></app-missing-records>
  </mat-tab>

  <!-- Local Prices -->
  <mat-tab *ngIf="ynLocalPrices">
    <ng-template mat-tab-label>
      <mat-icon>monetization_on</mat-icon>
      &nbsp;Local Prices
    </ng-template>
    <app-local-prices></app-local-prices>
  </mat-tab>

  <!-- Google Analytics -->
  <mat-tab *ngIf="ynGA">
    <ng-template mat-tab-label>
      <mat-icon svgIcon="analytics"></mat-icon>
      &nbsp;Google Analytics
    </ng-template>
    <app-ga></app-ga>
  </mat-tab>
</mat-tab-group>
