<div class="container row">

  <!-- Citi Ventas -->
  <section
    class="form-section"
    [formGroup]="formData">

    <!-- Título -->
    <h2>Filtros</h2>

    <!-- Parámetros -->
    <div class="col">

      <!-- Compañías -->
      <mat-form-field
        class="maximize"
        appearance="fill">
        <mat-label>Compañía</mat-label>
        <mat-select
          formControlName="companyId"
          required>
          <mat-option
            *ngFor="let company of companyOptions"
            [value]="company.id">
            {{ company.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Tipos de Doc -->
      <mat-form-field
        class="maximize"
        appearance="fill">
        <mat-label>Tipos de Documentos</mat-label>
        <mat-select
          formControlName="tiposDoc"
          [(value)]="tiposDocInitial"
          multiple
          required>
          <mat-select-trigger>
            {{tiposDoc.value ? tiposDoc.value[0] : ''}}
            <span *ngIf="tiposDoc.value.length > 1" class="additional-selection">
              (+{{tiposDoc.value.length - 1}} {{tiposDoc.value?.length === 2 ? 'otro' : 'otros'}})
            </span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let doc of tiposDocOptions"
            [value]="doc.id">
            {{ doc.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Fecha Desde -->
      <mat-form-field
        class="maximize"
        appearance="fill">
        <mat-label>Fecha desde</mat-label>
        <input
          required
          matInput
          [matDatepicker]="fechaDesde"
          formControlName="fechaDesde">
        <mat-datepicker-toggle matSuffix [for]="fechaDesde"></mat-datepicker-toggle>
        <mat-datepicker #fechaDesde></mat-datepicker>
        <mat-error>Fecha inválida</mat-error>
      </mat-form-field>

      <!-- Fecha Hasta -->
      <mat-form-field
        class="maximize"
        appearance="fill">
        <mat-label>Fecha hasta</mat-label>
        <input
          required
          matInput
          [matDatepicker]="fechaHasta"
          formControlName="fechaHasta">
        <mat-datepicker-toggle matSuffix [for]="fechaHasta"></mat-datepicker-toggle>
        <mat-datepicker #fechaHasta></mat-datepicker>
        <mat-error>Fecha inválida</mat-error>
      </mat-form-field>

    </div>

    <!-- Botones -->
    <div class="buttons-area">

      <!-- Button: Obtener reporte-->
      <div class="btn btn-submit">

        <!-- boton -->
        <button
          class="inline-buttons"
          appHoldable
          (holdTime)="holdHandler($event)"
          mat-stretch
          [disabled]="formData.invalid || isFetching"
          mat-raised-button
          color="primary"
          title="Obtener reporte"
          color=primary>
          Reporte&nbsp;
          <mat-icon svgIcon="save"></mat-icon>
        </button>

        <!-- Progress bar for button -->
        <mat-progress-bar
          [color]="color"
          mode="determinate"
          [value]="holdableButtonMs">
        </mat-progress-bar>

        <!-- Spinner -->
        <div class="spinner" *ngIf="isFetching">
          <img src="/assets/images/spinner01.svg" style="z-index: 50;" />
        </div>
      </div>

      <!-- Exportar Excel -->
      <div class="btn btn-download">
        <button
          [disabled]="formData.invalid"
          mat-raised-button
          title="Exportar a Excel"
          (click)="exportExcel()">
          A Excel &nbsp;
          <mat-icon svgIcon="excel" style="color: black;"></mat-icon>
        </button>
      </div>
    </div>
  </section>

  <section class="form-section">

    <!-- Descripción reporte -->
    <h2>Descripción</h2>
    <p class="maximize descripcion-text">
      Este programa obtiene del SAP el SubDiario de Compras de una compañía en un período determinado y luego permite descargarlo a Excel
    </p>

  </section>
</div>
