/* You can add global styles to this file, and also import other style files */
/* Angular prebuild theme */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '@angular/material/prebuilt-themes/purple-green.css'; */

/* AG-GRID css */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-bootstrap.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";


/*  Normalize CSS */
@import 'normalize.css/normalize.css';

/* ***************************************************************************
   General Styles
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;  /* para ocultar la linea de error */
  font-family: 'Rajdhani', sans-serif;   /* Roboto,"Helvetica Neue",sans-serif; */
}

body {
  background-color: #e3e3c8;
}

/* Lo utilizan los componentes para separarse del header*/
.header-spacer {
  padding-top: 1.5em;
}

/* *************************************************************************************
    Angular Material customizations
*/
.mat-input-element {
  padding-left: 5px!important;
}

.mat-select {
  padding-left: 5px!important;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 2px solid #42a948; /* green */
}

.ng-invalid[required] {
  border-left: 2px solid #a94442; /* red */
}

/* *************************************************************************************
    Fonts
*/
/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap'); */
